# Binaries
*.txt
debug/windows/npm/win-debug.sh
test/mystuff2/*
e2e-results/*
debug/windows/npm/old-examples-of-logs/
npm/pkg/controlplane/controllers/v2/results-for-empty-ip-final-commit/
npm/pkg/controlplane/controllers/v2/test.sh

out/*
output/*

# Artifacts
azure-*.json
ipam-*.xml

# Environment
.vscode/*

# Coverage 
*.out

# Goland
.idea/*

# Logs
*.log

# debug test files
*.test

controller-gen
build/tools/bin
npm/debug/http

# certificates
*/**/certs/
*.crt
*.pem
*.srl

go.work*
